$color__white: #FFF;
$color__border: #000;
$color__primary: rgb(48, 163, 112);
$color__black: #000;

$breakpoint--m:     769px;
$breakpoint--l:     960px;
$breakpoint--xl:   1200px;


$max-width-content: 1100px;
$padding-articlecontainer: 20px;
$elementmargin: 20px;


$grid--column: 80px;
$grid--gap: 20px;

$breakout__width:  100vw;
$breakout__width--m: 960px;
$breakout__width--l: 1240px;
$breakout__width--xl: 1440px;

$entry__width: 90vw;
$entry__width--m: 700px;
$entry__width--l: 700px;
$entry__width--xl: 700px;

$site__width: 90vw;
$site__width--m: 760px;
$site__width--l: 960px;
$site__width--xl: 1200px;

$header__height--mobil: 54px;
$header__height--desktop: 80px;


// Vertical Spaces
$space--xs: 5px;
$space--s: 10px;
$space--sm: 15px;
$space--m: 20px;
$space--l: 30px;
$space--xl: 40px;
$space--xxl: 80px;


// fonts
@font-face {
  font-family: 'Haas Grot Disp Web';
  src: url('../fonts/NeueHaasGrotDisp-75Bold-Web.eot');
  src: url('../fonts/NeueHaasGrotDisp-75Bold-Web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeueHaasGrotDisp-75Bold-Web.woff2') format('woff2'),
  url('../fonts/NeueHaasGrotDisp-75Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

@mixin NeueHaasGrotDisp-75Bold-Web {
  font-family: 'Haas Grot Disp Web';
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Haas Grot Disp Web';
  src: url('../fonts/NeueHaasGrotDisp-65Medium-Web.eot');
  src: url('../fonts/NeueHaasGrotDisp-65Medium-Web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeueHaasGrotDisp-65Medium-Web.woff2') format('woff2'),
  url('../fonts/NeueHaasGrotDisp-65Medium-Web.woff') format('woff');
  font-weight:  600;
  font-style:   normal;
  font-stretch: normal;
}


@mixin NeueHaasGrotDisp-65Medium-Web {
  font-family: 'Haas Grot Disp Web';
  font-weight:  600;
  font-style:   normal;
  font-stretch: normal;
}



@font-face {
  font-family: 'Haas Grot Disp Web';
  src: url('../fonts/NeueHaasGrotDisp-55Roman-Web.eot');
  src: url('../fonts/NeueHaasGrotDisp-55Roman-Web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeueHaasGrotDisp-55Roman-Web.woff2') format('woff2'),
  url('../fonts/NeueHaasGrotDisp-55Roman-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

@mixin NeueHaasGrotDisp-55Roman-Web {
  font-family: 'Haas Grot Disp Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTF55F-webfont.eot');
  src: url('../fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTF55F-webfont.woff') format('woff'),
  url('../fonts/PTF55F-webfont.ttf') format('truetype'),
  url('../fonts/PTF55F-webfont.svg#pt_serifregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTF75F-webfont.eot');
  src: url('../fonts/PTF75F-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTF75F-webfont.woff') format('woff'),
  url('../fonts/PTF75F-webfont.ttf') format('truetype'),
  url('../fonts/PTF75F-webfont.svg#pt_serifbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTF56F-webfont.eot');
  src: url('../fonts/PTF56F-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTF56F-webfont.woff') format('woff'),
  url('../fonts/PTF56F-webfont.ttf') format('truetype'),
  url('../fonts/PTF56F-webfont.svg#pt_serifitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTF76F-webfont.eot');
  src: url('../fonts/PTF76F-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTF76F-webfont.woff') format('woff'),
  url('../fonts/PTF76F-webfont.ttf') format('truetype'),
  url('../fonts/PTF76F-webfont.svg#pt_serifbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

$titel-weight: 700;
$titel-size:42px;
$titel-size-mobile:28px;
$laufschrift: 'PT Serif', serif;
$laufschrift-weight: 100;
$laufschrift-size:18px;
$laufschrift-size-mobile:16px;
$laufschrift-lineheight-S: 18px;
$laufschrift-lineheight-M: 20px;

$titel-lineheight-S: 35px;
$titel-lineheight-M: 50px;

// animation

$animation-duration: 0.7s;


@mixin site--gutter {
  width: $site__width;
  margin: 0 auto;

  @include breakpoint($breakpoint--m) {
    margin: 0 auto;
    width: $site__width--m - $grid--gap;
  }

  @include breakpoint($breakpoint--l) {
    width: $site__width--l - $grid--gap;
  }

  @include breakpoint($breakpoint--xl) {
    width: $site__width--xl - $grid--gap;
  }
}