// Layout

$S: 480px;
$M: 768px;
$L: 1100px;

$max-width-content: 1000px;

// colors
$darkgrey: #414141;
$mediumgrey: #e7e7e7;
$lightgrey: #f8f8f8;
$tawo: #008148; // grün tawo


// fonts
$titel: 'Monserrat', sans-serif;
$titel-weight: bold;
$titel-size:34px;
$titel-size-mobile:0;
$laufschrift: 'Droid Serif', sans-serif;
$laufschrift-weight: normal;
$laufschrift-size:18px;
$laufschrift-size-mobile:0;

$line-height:24px;
