@import 'reset';
@import 'elements';
@import 'font-face';
@import '~modularscale-sass/stylesheets/modularscale';
@import 'variables';
@import 'breakpoint';

// font formats
body {
  margin: 0;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @include NeueHaasGrotDisp-65Medium-Web;
  font-size: ms(8);
  line-height: 1.2;
  @include breakpoint($breakpoint--m) {
    font-size: ms(11);
  }
}

h2 {
  @include NeueHaasGrotDisp-65Medium-Web;
  font-size: ms(5);
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 60px;
}